<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'>
    <script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js'></script>

</head>

<body>
    <div id="app">
        <div class="h-screen bg-gray-300">
            <div class="container flex justify-center py-20">
                <div class="p-3 bg-white rounded-xl max-w-lg hover:shadow">
                    <div class="flex w-full "> <img v-bind:src="img" width="150" class="h-32 w-32 rounded-lg">
                        <div class="ml-2">
                            <div class="p-3">
                                <h3 class="text-2xl">Profile</h3> <span>{{faculty}}</span>
                            </div>
                            <div class="mb-3 items-center p-3 bg-gray-200 rounded-lg">
                                <form @submit.prevent="checkSummit">
                                        <label for="uname">Username: </label>
                                        <input class="mb-3" type="text" v-model="username" id="uname" name="uname"><br>
                                        <label for="fname">First name: </label>
                                        <input class="mb-3" type="text" v-model="firstname" id="fname" name="fname"><br>
                                        <label for="lname">Last name: </label>
                                        <input class="mb-3" type="text" v-model="lastname" id="lname" name="lname"><br>
                                        <label for="ages">Age: </label>
                                        <input class="mb-3" type="text" v-model="age" id="ages" name="ages"><br>
                                        <label for="email">Email</label>
                                        <input class="mb-3" type="text" id="email" v-model="email" name="email" /><br>
                                        <label for="tel">Tel: </label>
                                        <input class="mb-3" type="text" v-model="tel" id="tel" name="tel"><br>
                                        <label for="days">Day: </label>
                                        <input class="mb-3" type="text" v-model="day" id="days" name="days"><br>
                                        <label for="month">Month: </label>
                                        <input class="mb-3" type="text" v-model="month" id="month" name="month"><br>
                                        <label for="year">Year: </label>
                                        <input class="mb-3" type="text" v-model="year" id="year" name="year"><br>
                                    <div class="flex justify-end">
                                        <input type="submit" value="Submit"
                                            class="h-10 w-24 p-2 text-center bg-red-500  text-white">
                                    </div>
                                </form>
                                <div class="p-2">
                                    <div class="p-2">
                                        <p v-if="errors" class="text-red-500">
                                            <b>Please correct the following error(s):</b>
                                            <ul>
                                                <li v-for="error in errors" class="text-red-500">{{ error }}</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    <!-- my main.js -->
    <script src="./profile.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</body>

</html>